/* color palette from <https://github.com/vuejs/theme> */
body {
  color: black;
  background: white;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 15px;
}

h1, h2, label {
  color: black;
}
